{% extends "base.html" %}

{% block title%}
Organisasi Gagal Dibuat
{% endblock %}

{% block content %}
<html lang="en">
<head>
    <title>Organisasi sukses dibuat</title>
</head>
<body>
    <div class="upload-success-container">
        <div class="upload-success-content">
            <h2 class="upload-success-title">Organisasi Gagal Ditambahkan!</h2>
            <p class="upload-success-description">Nama organisasi sudah digunakan. coba ganti nama atau judul dari organisasi yang ingin anda buat</p>
            <div class="upload-success-link">
                <a href="/createOrg">Coba Lagi </a>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}


