{% extends "base.html" %}

{% block title%}
Organisasi dibuat
{% endblock %}

{% block content %}
<html lang="en">
<head>
    <title>Organisasi sukses dibuat</title>
</head>
<body>
    <div class="upload-success-container">
        <div class="upload-success-content">
            <h2 class="upload-success-title">Organisasi Berhasil Ditambahkan!</h2>
            <p class="upload-success-description">Sekarang organisasi Anda telah berhasil ditambahkan ke sistem.</p>
            <div class="upload-success-link">
                <a href="/">Kembali ke Halaman Awal</a>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}

