{% extends "base.html" %}
{% import '_snippets.html' as snippets %}
{% import '_instructions.html' as instructions %}

{% block title %}
{{dataset.title or dataset.name}} - Dataset
{% endblock %}

{% block content %}

<!-- showcase page test placeholder -->
<!-- title and owner info -->
<div role="main">
  <div class="container showcase">
    <div class="inner_container">

      <div class="showcase-page-header">
        <h1>
          {{ dataset.title or dataset.name }}
        </h1>

        <p class="clearfix"></p>

        <p class="publisher">
          <img src="https://www.gravatar.com/avatar/none?d=https%3A%2F%2Ftesting.datahub.io%2Fstatic%2Fimg%2Flogo-cube03.png" class="img-responsive img-circle avatar" />
          <a class="blue-link" href="/{{ owner.name }}">{{ owner.title }}</a>
        </p>
      </div>
    </div>
  </div><!-- end of title and owner info -->

  <div class="container-no-top-padding">
    <div class="inner_container">
      <div class="dataset show">
        <!-- info about data package -->
        <div>
          <table class="table info no-left-padding">
            <thead>
              <tr>
                <th>File</th>
                <th>Ukuran</th>
                <th>Format</th>
                <th>Dibuat</th>
                <th>Diperbarui</th>
                <th>Lisensi</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="col-xs-1">{{ dataset.resources | length }}</td>
                <td class="col-xs-1">{{ size or 'N\A' }}</td>
                <td class="col-xs-2 format-list">
                  {% for format in dataset.formats %}
                    {{ format }}
                  {% endfor %}
                </td>
                <td class="col-xs-2">{{ dataset.created | formatDate }}</td>
                <td class="col-xs-2">{{ dataset.modified | formatDateFromNow }}</td>
                <td class="col-xs-2">
                  {% if dataset.license %}
                    <i class="fas fa-gavel"></i> {{snippets.listify([dataset.license])}}
                  {% endif %}
                </td>
                
              </tr>
            </tbody>

          </table>

        </div>

        <!-- Metadata section -->
        <div class="container">
          <div class="inner_container">
            <div class="dataset show">
              <h2 class="section-title">Metadata</h2>
              <div class="metadata-table">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Field</th>
                      <th>Value</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- Example metadata fields, replace these with your actual metadata -->
                    <tr>
                      <td>Title</td>
                      <td>{{ dataset.title or 'N/A' }}</td>
                    </tr>
                    <tr>
                      <td>Description</td>
                      <td>{{ dataset.description or 'N/A' }}</td>
                    </tr>
                    <tr>
                      <td>Author</td>
                      <td>{{ dataset.authors or 'N/A' }}</td>
                    </tr>
                    <tr>
                      <td>Advisor</td>
                      <td>{{ dataset.advisor or 'N/A' }}</td>
                    </tr>
                    <tr>
                      <td>Type of Scientific Work</td>
                      <td>{{ dataset.type_of_scientific_work or 'N/A' }}</td>
                    </tr>
                    <tr>
                      <td>Date of issue</td>
                      <td>{{ dataset.date_of_issue or 'N/A' }}</td>
                    </tr>
                    <tr>
                      <td>Language</td>
                      <td>{{ dataset.language or 'N/A' }}</td>
                    </tr>
                    <!-- Add more rows for other metadata fields -->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- short readme 
        {% if dataset.readmeSnippet %}
          <div class="readme-snippet readable-width">{{dataset.readmeSnippet}} <a href="#readme" onclick="scrollDown(this)">read more</a></div>
        {% elif dataset.readmeHtml %}
          <div class="readme-snippet readable-width">{{dataset.readmeHtml|safe}}</div>
        {% elif dataset.descriptionHtml %}
          <div class="readme-snippet readable-width">{{dataset.descriptionHtml|safe}}</div>
        {% endif %} -->

        

        <!-- views -->
        <div class="react-me part" data-type="data-views" id="next-section"></div>

        <!-- data files (downloads) table -->
        {% include "./partials/resource-summary.njk" %}

        <!-- preview + field information -->
        {% include "./partials/resource-display.njk" %}

      </div>
    </div>
  </div>

  
  <!-- readme section -->
  <div class="container">
    <div class="inner_container">
      <div class="dataset show">
        <h2 id="readme" class="section-title">Pratinjau Dataset</h2>
        <div class="readme part readable-width">{{dataset.readmeHtml|safe}}</div>
      </div>
    </div>
  </div>




  <!-- Link to datapackage.json - putting here to be hidden for now -->
  <div class="container">
    <div class="inner_container">
      <!-- Link RDF untuk dataset dalam format RDF/XML -->
      <a href="http://172.17.1.254/dataset/{{ dataset.name }}.rdf" class="btn btn-default" style="margin-top:-80px" target="_blank">RDF/XML</a>

      <!-- Link RDF untuk dataset dalam format json-ld -->
      <a href="http://172.17.1.254/dataset/{{ dataset.name }}.jsonld" class="btn btn-default" style="margin-top:-80px" target="_blank">JSON-LD</a>

      <!-- Link datapackage.json untuk dataset -->
      <a href="/{{ owner.name }}/{{ dataset.name }}/datapackage.json" class="btn btn-default" style="margin-top:-80px">Datapackage.json</a>

      <!-- Tambahkan link untuk format RDF lainnya sesuai kebutuhan -->
    </div>
  </div><!-- end of link to datapackage.json -->
  
</div>

<div class="react-me-datapackage-views" data-datapackage-json='{{ dpId | safe }}'></div>
{% endblock %}



{% block scripts %}
<!-- script for tabs to work as anchors (used for instructions in showcase page) -->
<script>
  
  jQuery("ul.nav-pills > li > a").on("shown.bs.tab", function (e) {
     scrollposition = jQuery(document).scrollTop();
     var id = jQuery(e.target).attr("href").substr(1);
     window.location.hash = id;
     jQuery(document).scrollTop(scrollposition);
  });
  var hash = window.location.hash;
  jQuery('.nav.nav-pills a[href="' + hash + '"]').tab('show', function() {
      jQuery(document).scrollTop();
  });


  //Slide out function for showcase
  $(window).on('load', function() {
    $("#showcase-offer").animate({
      bottom:0
    },1000);
   });

   function goToSearch() {
    var query = document.getElementById('search-input').value;
    window.location.href = '/search?q=' + query;
  }

  function sendGAEvent(datasetName, resourceName, resourceFormat) {
      gtag('event', "download", {
          'event_category': datasetName,
          'event_label': resourceName,
          'value':resourceFormat,
          'non_interaction': true
      });
  }
</script>

<!-- JSON-LD script for google dataset search indexing  -->
<script>
    const script = document.createElement('script');
    script.setAttribute('type', 'application/ld+json');
    script.textContent = {{ jsonld | dump | safe }};
    document.head.appendChild(script);
</script>

<script type="text/javascript" src="https://rawcdn.githack.com/datopian/datapackage-views-js/681e1ff21a0daee03e8e81ad0ddc7c8bf682aee9/dist/js/main.js"></script>

{% endblock %}
